<footer class="footer">
  <div class="footer-container">
    <span class="footer-text">
      Copyright © 2025
      <span class="footer-info">
        VNV Group | info@vnvgroup.com | (+52) 998 116 1360
      </span>
    </span>
    <div class="social-links">
      <a href="https://www.facebook.com/vnvgroupempoweringvision" target="_blank">
        <img src="https://res.cloudinary.com/drsvlws8u/image/upload/v1740180604/Footer/ocoooavlrfrtgczzrleu.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/vnvgroupmexico/" target="_blank">
        <img src="https://res.cloudinary.com/drsvlws8u/image/upload/v1740180604/Footer/jn0oqboalmdpdq9pvc6x.png" alt="Instagram">
      </a>
      <a href="https://www.tiktok.com/@vnvgroup" target="_blank">
        <img src="https://res.cloudinary.com/drsvlws8u/image/upload/v1740180604/Footer/m2iooefq5uqexojbqadl.png" alt="TikTok">
      </a>
    </div>
  </div>
</footer>

<style>

.footer {
    background-color: black;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-text {
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.footer-info {
    font-weight: normal;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.social-links img {
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .social-links {
        margin-top: 0;
    }
}

</style>