<div class="cont">
    <div class="title">
      <h1><strong>¿Buscas algo más?</strong></h1>
      <p><strong>Consulta nuestros paquetes personalizados que incluyen:</strong></p>
    </div>
    <div>
      <ul>
        <li> <strong>Recorridos a medida a Isla Mujeres, Cozumel y más.</strong></li>
        <li> <strong>Comidas gourmet preparadas por nuestro chef a bordo.</strong></li>
        <li> <strong>Snacks, bebidas y bar abierto durante tu travesía.</strong></li>
        <li> <strong>Actividades acuáticas como buceo y snorkel.</strong></li>
      </ul>
    </div>
  </div>
  <br />
  <h1 id="contactanos"><b>Contáctanos</b></h1>

  <style>
    
    h1 {
    text-align: center;
    font-size: 32px;
}

    .cont {
        background-color: #0d0d0d;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
    }

    .title h1 {
        text-align: center;
        padding-right: 20px;
        color: #ffffff;
        font-size: 30px;
    }

    .title p {
        text-align: center;
        padding-right: 20px;
        color: #ffffff;
        font-size: 15px;
    }

    .cont ul {
        border-left: 1px solid white;
        padding-left: 50px;
        list-style-type: disc; /* Añade esta línea */
    }
  </style>
